body{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 223, 186);
    min-height: 97vh;
    display: flex;
    background-color: #333;
}

.main{
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.user-section,
.pc-section{
    display: flex;
    flex-direction: column;
    flex: initial;
    min-width: 300px;
    align-items: center;
    justify-content: flex-start;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 223, 186);
    border: 5px solid rgb(254, 43, 241);
    background-color: rgb(38, 0, 110);
    border-radius: 30px;
    box-shadow: 0px 0px 5px black;
}

.player-lives img,
.pc-lives img{
    width: 40px;
}

.displayer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.displayer img{
    width: 150px;
}

.btn-box{
    display: flex;
    gap: 80px;
}

#rock-btn,
#paper-btn,
#scissors-btn{
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 999px;
    width: 150px;
    height: 150px;
    padding: 20px;
    background-color: rgb(38, 0, 110);
    border: 1px solid #333;
    box-shadow: 0px 0px 5px black;
}

#rock-btn:hover{
    border: 5px solid rgb(254, 43, 241);
    cursor: pointer;
}
#paper-btn:hover{
    border: 5px solid rgb(0, 223, 186);
    cursor: pointer;
}
#scissors-btn:hover{
    border: 5px solid rgb(12, 124, 235);
    cursor: pointer;
}

button img{
    width: 50px;
}